<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div>
            <img src="../img/logo.png" alt="Logo" id="logo">
        </div>

        <div class="navBar">
            <span>Home</span>
            <span>Features</span>
            <span>Pricing</span>
            <span>FAQs</span>
            <span>About</span>
        </div>
        <div class="userAccount">
            <span> <button>Login</button> </span>
            <span> <button>Sign Up</button> </span>
        </div>
        <hr>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>
</html>