<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="/template/css/main.css">
    <link rel="stylesheet" href="/template/css/footerHeader.css">
    <link rel="stylesheet" href="/template/css/userCart.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/mediaScreen/index_widescreen.css">
    <link rel="stylesheet" href="/template/mediaScreen/index_smallscreen.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<!--------------------------------------------------------------------------------------------------------------------->
<body>
    <header>
        <div class="nav-container">
            <div>
                <img src="/template/img/logo.png" alt="Logo" id="logo">
            </div>
            <div class="hamburgerMenu">
                <span class="line" id="line1"></span>
                <span class="line" id="line2"></span>
                <span class="line" id="line3"></span>
            </div>

            <div class="menuBar">
                <span>Home</span>
                <span>Features</span>
                <span>Pricing</span>
                <span>FAQs</span>
                <span>About</span>
            </div>

            <div class="userAccount">
                <span> <button id="logIn">Login</button> </span>
                <span> <button id="signUp">Sign Up</button> </span>
            </div>
        </div>
        <hr>
    </header>
<!--------------------------------------------------------------------------------------------------------------------->
    <main>
        <div class="main-title">
            <img src="/template/img/logo.png" alt="Logo" id="main-logo">
            <h1>Checkout Form</h1>
        </div>

        <form name="checkoutForm">
            <div id="checkoutForm">
<!--                user cart part -->
                <div class="user-cart">
                    <h2>
                        <span>Your Cart</span>
                        <span id="selected-products">3</span>
                    </h2>
<!------------------ products ----------------------------------------------------------------------------------------->
                    <div class="products">
                        <ul class="products-list">
                            <li class="list-item">
                                <div>
                                    <p class="product-name title">Product name</p>
                                    <small>Brief description</small>
                                </div>
                                <div>
                                    <span>CHF</span>
                                    <span>12.00</span>
                                </div>
                            </li>

                            <li class="list-item">
                                <div>
                                    <p class="product-name title">Second product</p>
                                    <small>Brief description</small>
                                </div>
                                <div>
                                    <span>CHF</span>
                                    <span>8.00</span>
                                </div>
                            </li>

                            <li class="list-item">
                                <div>
                                    <p class="product-name title">Third item</p>
                                    <small>Brief description</small>
                                </div>
                                <div>
                                    <span>CHF</span>
                                    <span>5.00</span>
                                </div>
                            </li>
<!-------------------------- promo code ------------------------------------------------------------------------------->
                            <li class="list-item promo-code">
                                <div>
                                    <p class="title">Promo code</p>
                                    <small>EXAMPLECODE</small>
                                </div>
                                <div>
                                    <span>CHF</span>
                                    <span>-5.00</span>
                                </div>
                            </li>

                            <li class="list-item">
                                <div>
                                    <span class="title">Total (USD)</span>
                                </div>
                                <div>
                                    <strong>CHF</strong>
                                    <strong>20.00</strong>
                                </div>
                            </li>
                        </ul>
<!--------------------- promo code redeem button ---------------------------------------------------------------------->
                        <form name="promo-code">
                            <div id="promo-code">
                                <div>
                                    <input type="text" placeholder="Promo code">
                                    <button type="submit" id="redeemBtn" class="mainButton">Redeem</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

<!-------------- billing address and payment part --------------------------------------------------------------------->
<!--                billing address part -->
                <div class="payment-and-bill">
                    <div>
                        <h2>Billing address</h2>
<!--------------------- first block: first name and last name --------------------------------------------------------->
                        <div class="first-block">
<!--                            first name-->
                            <div class="first-container">
                                <label for="first-name">First Name</label>
                                <input type="text" id="first-name" class="fields">
                            </div>
<!--                            last name-->
                            <div class="first-container">
                                <label for="last-name">Last Name</label>
                                <input type="text" id="last-name" class="fields">
                            </div>
                        </div>
<!---------------------- second block: username and email ------------------------------------------------------------->
                        <div class="second-block">
<!--                            username-->
                            <div class="second-container">
                                <label for="username">Username</label>
                                <input type="text" id="username" placeholder="Username" class="fields">
                            </div>
<!--                            email-->
                            <div class="second-container">
                                <label for="email">Email <span>(Optional)</span></label>
                                <input type="text" id="email" placeholder="you@example.com" class="fields">
                            </div>
                        </div>
<!--------------------- third block: address and address 2 ------------------------------------------------------------>
                        <div class="third-block">
<!--                            address-->
                            <div class="third-container">
                                <label for="address">Address</label>
                                <input type="text" id="address" placeholder="1234 Main St" class="fields">
                            </div>
<!--                            address 2-->
                            <div class="third-container">
                                <label for="address2">Address 2 <span>(Optional)</span></label>
                                <input type="text" id="address2" placeholder="Apartment or Suite" class="fields">
                            </div>
                        </div>
<!--------------------- fourth block: country, state and zip ---------------------------------------------------------->
                        <div class="fourth-block">
<!--                            country-->
                            <div class="fourth-container select-element">
                                <label for="country">Country</label>
                                <select name="country" id="country"  class="fields">
                                    <option value="choose">Choose...</option>
                                    <option value="usa">United State</option>
                                </select>
                            </div>
<!--                            state-->
                            <div class="fourth-container select-element">
                                <label for="state">State</label>
                                <select name="state" id="state" class="fields">
                                    <option value="choose">Choose...</option>
                                    <option value="california">California</option>
                                </select>
                            </div>
<!--                            Zip-->
                            <div class="fourth-container">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" class="fields">
                            </div>
                        </div>
                    </div>

                    <hr>

<!------------------ check-boxes -------------------------------------------------------------------------------------->
                    <div class="checkboxes">
                        <div>
                            <input type="checkbox" id="checkbox-1">
                            <label for="checkbox-1">Shipping address is the same as my billing address</label>
                        </div>

                        <div>
                            <input type="checkbox" id="checkbox-2">
                            <label for="checkbox-2">Save this information for next time</label>
                        </div>
                    </div>

                    <hr>

<!------------------ payment part ------------------------------------------------------------------------------------->
                    <div class="payment">
                        <h2>Payment</h2>

<!---------------------- payment methods ------------------------------------------------------------------------------>
                        <div>
<!--                            creditcard -->
                            <div class="radiobuttons">
                                <input type="radio" name="paymentMethod" id="creditcard" checked>
                                <label for="creditcard">Credit card</label>
                            </div>
<!--                            debitcard -->
                            <div class="radiobuttons">
                                <input type="radio" name="paymentMethod" id="debitcard">
                                <label for="debitcard">Debit card</label>
                            </div>
<!--                            paypal -->
                            <div class="radiobuttons">
                                <input type="radio" name="paymentMethod" id="paypal">
                                <label for="paypal">Paypal</label>
                            </div>
                        </div>
<!----------------------user card (payment) --------------------------------------------------------------------------->
                        <div>
                            <div class="card">
<!--                                name on card-->
                                    <div class="first-container">
                                        <label for="card-name">Name on Card</label>
                                        <input type="text" id="card-name" class="fields">
                                        <small>Name as displayed on card</small>
                                    </div>
<!--                                card number-->
                                    <div class="first-container">
                                        <label for="card-number">Card number</label>
                                        <input type="text" id="card-number" class="fields">
                                    </div>
                            </div>
<!--------------------------------------------------------------------------------------------------------------------->
                            <div class="numbers card">
<!--                                expiration date-->
                                    <div>
                                        <label for="expiration">Expiration</label>
                                        <input type="text" id="expiration">
                                    </div>
<!--                                cvv-->
                                    <div>
                                        <label for="cvv">CVV</label>
                                        <input type="text" id="cvv">
                                    </div>
                            </div>

                        </div>

                        <hr>

                    </div>
                </div>
            </div>
<!--------------------------------------------------------------------------------------------------------------------->
<!--            checkout button-->
            <div class="checkout-button">
                <button type="submit" id="checkoutBtn" class="mainButton">Continue to Checkout</button>
            </div>

        </form>
    </main>

<!--------------------------------------------------------------------------------------------------------------------->
    <footer>
            <div class="footerBar">
                <span>Home</span>
                <span>Features</span>
                <span>Pricing</span>
                <span>FAQs</span>
                <span>About</span>
            </div>
        <hr>
        <p id="text">&copy; 2024 Company Inc.</p>
    </footer>
</body>
</html>