<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
    <link rel="stylesheet" href="/template/css/footerHeader.css">
    <link rel="stylesheet" href="/template/css/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<!------------------------------------------------------------------->
<body>
    <header>
        <div>
            <div>
                <img src="/template/img/logo.png" alt="Logo" id="logo">
            </div>

            <div class="menuBar">
                <span>Home</span>
                <span>Features</span>
                <span>Pricing</span>
                <span>FAQs</span>
                <span>About</span>
            </div>

            <div class="userAccount">
                <span> <button id="logIn">Login</button> </span>
                <span> <button id="signUp">Sign Up</button> </span>
            </div>
        </div>
        <hr>
    </header>
<!------------------------------------------------------------------->

<!----  search bar (to find products) --------------------------------------------------------------------------------->
    <main>
        <h1 id="heading">Products</h1>
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" id="search" placeholder="I'm looking for....">
                <button class="searchBtn">Search</button>
            </div>
        </div>
<!----- Liste von Produkte -------------------------------------------------------------------------------------------->
        <div class="all-products">
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/template/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 1</h4>
                    <small>Type of Product</small>
                    <p>Product Information</p>
                    <input type="number" name="quantity" class="quantity" value="3">
                    <div>
                        <span>CHF</span>
                        <span>100.00</span>
                    </div>
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div>
                        <span>CHF</span>
                        <span>300.00</span>
                        <p class="shipping">Free Shipping</p>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
                <!--                image-->
                <div class="products-detail">
                    <img src="/template/img/black.png" alt="Product's Image">
                </div>
                <!--                product details-->
                <div class="products-detail">
                    <h4>Product 1</h4>
                    <small>Type of Product</small>
                    <p>Product Information</p>
                    <input type="number" name="quantity" class="quantity" value="2">
                    <div>
                        <span>CHF</span>
                        <span>50.00</span>
                    </div>
                </div>
                <hr>
                <div class="products-detail">
                    <!--                    price-->
                    <div>
                        <span>CHF</span>
                        <span>100.00</span>
                        <p class="shipping">Free Shipping</p>
                    </div>
                    <!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
                <!--                image-->
                <div class="products-detail">
                    <img src="/template/img/black.png" alt="Product's Image">
                </div>
                <!--                product details-->
                <div class="products-detail">
                    <h4>Product 1</h4>
                    <small>Type of Product</small>
                    <p>Product Information</p>
                    <input type="number" name="quantity" class="quantity" value="4">
                    <div>
                        <span>CHF</span>
                        <span>20.00</span>
                    </div>
                </div>
                <hr>
                <div class="products-detail">
                    <!--                    price-->
                    <div>
                        <span>CHF</span>
                        <span>80.00</span>
                        <p class="shipping">Free Shipping</p>
                    </div>
                    <!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!------------------------------------------------------------------->
    <footer>
        <div class="footerBar">
            <span>Home</span>
            <span>Features</span>
            <span>Pricing</span>
            <span>FAQs</span>
            <span>About</span>
        </div>
        <hr>
        <p id="text">&copy; 2024 Company Inc.</p>
    </footer>
</body>

</html>