<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
    <link rel="stylesheet" href="/template/css/footerHeader.css">
    <link rel="stylesheet" href="/template/css/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<!--------------------------------------------------------------------------------------------------------------------->
<body>
    <header>
        <div>
            <div>
                <img src="/template/img/logo.png" alt="Logo" id="logo">
            </div>

            <div class="menuBar">
                <span>Home</span>
                <span>Features</span>
                <span>Pricing</span>
                <span>FAQs</span>
                <span>About</span>
            </div>

            <div class="userAccount">
                <span> <button id="logIn">Login</button> </span>
                <span> <button id="signUp">Sign Up</button> </span>
            </div>
        </div>
        <hr>
    </header>
<!--------------------------------------------------------------------------------------------------------------------->
    <main>
        <div class="search-bar">
            <i class="fa fa-search"></i>
            <input type="text" class="search" placeholder="I'm looking for....">
            <button class="searchBtn">Search</button>
        </div>
    </main>
<!--------------------------------------------------------------------------------------------------------------------->
    <footer>
        <div class="footerBar">
            <span>Home</span>
            <span>Features</span>
            <span>Pricing</span>
            <span>FAQs</span>
            <span>About</span>
        </div>
        <hr>
        <p id="text">&copy; 2024 Company Inc.</p>
    </footer>
</body>

</html>