<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Name</title>
    <link rel="stylesheet" href="/template/css/footerHeader.css">
    <link rel="stylesheet" href="/template/css/showProduct.css">
</head>
<body>
    <header>
        <div class="nav-container">
            <div>
                <img src="/template/img/logo.png" alt="Logo" id="logo">
            </div>
            <div class="hamburgerMenu">
                <span class="line" id="line1"></span>
                <span class="line" id="line2"></span>
                <span class="line" id="line3"></span>
            </div>

            <div class="menuBar">
                <span><a href="index.html">Home</a></span>
                <span><a href="productsList.html">Products</a></span>
                <span>Pricing</span>
                <span>FAQs</span>
                <span>About Us</span>
            </div>

            <div class="userAccount">
                <span> <button id="logIn">Login</button> </span>
                <span> <button id="signUp">Sign Up</button> </span>
            </div>
        </div>
        <hr>
    </header>
<!--------------------------------------------------------------------------------------------------------------------->

    <main>
        <h1>SereneSky Blue Cuddle Jacket</h1>
        <div class="product">

            <div class="details">
                <img src="/template/img/jacket.jpeg" alt="Product's Image">
            </div>

            <div>
                <span>CHF</span>
                <span>100.00</span>
            </div>

            <div class="shipping">
                <p>Free shipping</p>
            </div>

            <div class="categoriesAndItem">
                <div>
                    <span>Category: </span>
                    <span>Jacket</span>
                </div>
                <div>
                    <label>Available Items</label>
                    <input type="number" name="quantity" class="quantity" value="50">
                </div>
            </div>

            <div>
                <h3>Product Information & Details</h3>
                <div class="productInformation">
                    <div>
                        <p>Description:</p>
                        <p>Indulge in comfort and style with our SereneSky Blue Cuddle Jacket,
                            designed to be your cozy companion during chilly days and serene evenings.
                            Crafted with meticulous attention to detail,
                            this jacket embodies the essence of warmth and relaxation.
                        </p>
                    </div>
                </div>
<!--                <p></p>-->
            </div>

            <div class="options">
                <button class="btn edit">Edit</button>
                <button class="hidden">Save</button>
                <button class="btn delete">Delete</button>
            </div>
        </div>
    </main>

<!--------------------------------------------------------------------------------------------------------------------->
    <footer>
        <div class="footerBar">
            <span>Home</span>
            <span>Features</span>
            <span>Pricing</span>
            <span>FAQs</span>
            <span>About</span>
        </div>
        <hr>
        <p id="text">&copy; 2024 Company Inc.</p>
    </footer>
</body>
</html>