<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/account.css">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <form>
            <div>
                <img src="/template/img/logo.png" alt="Logo" id="logo">
            </div>
            <h2>Sign up</h2>
            <div>
                <div class="fields">
                    <input type="text" id="username" placeholder="username">
                </div>

                <div class="fields">
                    <input type="text" id="email" placeholder="email">
                </div>

                <div class="fields">
                    <input type="text" id="password" placeholder="password">
                </div>

                <div class="fields">
                    <input type="text" id="passwordCheck" placeholder="repeat your password">
                </div>
                <div>
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <label for="checkbox">I agree all statements in Term of service</label>
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>