@media screen and (min-width: 900px) and (max-width: 1300px) {
    #checkoutForm {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 450px) and (max-width: 900px) {
    /*body {*/
    /*    height: 100%;*/

    /*}*/
    /*main {*/
    /*    height: 100%;*/
    /*}*/
    #checkoutForm {
        display: flex;
        flex-direction: column;
    }

    .first-block, .fourth-block, .card {
        display: flex;
        flex-direction: column;
    }
}