<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block productsListStyle %}
        {% endblock %}

        {% block indexStyle %}
        {% endblock %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
            <div class="nav-container">
                <div>
                    <img src="/img/logo.png" alt="Logo" id="logo">
                </div>
                <div class="hamburgerMenu">
                    <span class="line" id="line1"></span>
                    <span class="line" id="line2"></span>
                    <span class="line" id="line3"></span>
                </div>

                <div class="menuBar">
                    <span>Home</span>
                    <span><a href="productsList.twig">Products</a></span>
                    <span>Pricing</span>
                    <span>FAQs</span>
                    <span>About</span>
                </div>

                <div class="userAccount">
                    <span> <button id="logIn">Login</button> </span>
                    <span> <button id="signUp">Sign Up</button> </span>
                </div>
            </div>
            <hr>
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
<!------------------------------------------------------------------->
    <footer>
        {% block footer %}
            <div class="footerBar">
                <span>Home</span>
                <span>Features</span>
                <span>Pricing</span>
                <span>FAQs</span>
                <span>About</span>
            </div>
            <hr>
            <p id="text">&copy; 2024 Company Inc.</p>
        {% endblock %}
    </footer>
</body>
</html>