<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="../css/account.css">
</head>
<body>
    <main>
        <form method="post">
            <div>
                <img src="/template/img/logo.png" alt="Logo" id="logo">
            </div>
            <h2>Sign in to your Account</h2>

            <div>
                <div class="fields">
                    <input type="text" id="email" placeholder="email">
                </div>
                <div class="fields">
                    <input type="text" id="pwd" placeholder="password">
                </div>
                <div>
                    <input type="checkbox" name="save" id="rememberMe">
                    <label for="rememberMe">Remember me</label>
                </div>
                <div>
                    <button type="submit">Sign in</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>