{% extends "base.twig" %}

{% block title %} Products {% endblock %}

    {% block content %}
        <h1 id="heading">Products</h1>
        <div class="search">
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" id="search" placeholder="I'm looking for....">
                <button class="searchBtn">Search</button>
            </div>
        </div>
<!----- Liste von Produkte -------------------------------------------------------------------------------------------->
        <div class="all-products">
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 1</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>100.00</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 2</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>50.00</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 3</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>60.00</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 4</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>45.00</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 5</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>78.00</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 6</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>19.90</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 7</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>49.90</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
<!------------------------------------------------------------------->
            <div class="products-in-cart">
<!--                image-->
                <div class="products-detail">
                    <img src="/img/black.png" alt="Product's Image">
                </div>
<!--                product details-->
                <div class="products-detail">
                    <h4>Product 8</h4>
<!--                select products details-->
                    <select name="products-categories" class="products-categories">
                        <option>Product Categories</option>
                        <option>Hoodie</option>
                        <option>Jacket</option>
                        <option>Top</option>
                        <option>T-Shirt</option>
                        <option>Pant</option>
                        <option>Skirt</option>
                        <option>Socks</option>
                        <option>Shoes</option>
                        <option>Accessories</option>
                    </select>
                    <button class="information">Show Product Information</button>
<!--                products information-->
                    <br>
                    <label>Quantity</label>
                    <input type="number" name="quantity" class="quantity" value="1">
                </div>
                <hr>
                <div class="products-detail">
<!--                    price-->
                    <div class="price">
                        <span>CHF</span>
                        <span>79.90</span>
                    </div>
<!--                    options-->
                    <div class="options">
                        <button class="btn edit">Edit</button>
                        <button class="hidden">Save</button>
                        <button class="btn delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}