html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
main {
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
i {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
input[type="number"]:focus {
    box-shadow: 0 0 10px 3px lightgrey;
}
/*---------------------------------------------------------------------------------*/
/*icon*/
i.fa-search {
    font-size: 25px;
    margin: 5px 5px 5px 5px;
}
/*search bar*/
.search, #heading, main {
    display: flex;
    justify-content: center;
}
i.fa-search {
    margin-left: 20px;
}
.search-bar {
    width: 45%;
    position: relative;
    box-shadow: 0 0 30px 20px lightgrey;
    padding: 20px;
    margin: 4% 2% 4% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input#search {
    border-radius: 5px;
    height: 60px;
    width: 80%;
}
.searchBtn {
    height: 60px;
    width: 100px;
    background-color: #ffc107;
}
/*---------------------------------------------------------------------------------*/

.hidden {
    display: none;
}
.btn {
    cursor: pointer;
    width: 200px;
    margin-bottom: 10px;
}
.delete {
    background-color: darkred;
    color: white;
}
.delete:hover {
    background-color: #c50101;
}
.edit {
    background-color: darkgreen;
    color: white;
}
.edit:hover {
    background-color: green;
}
.options {
    display: flex;
    flex-direction: column;
}
.all-products {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.products-in-cart {
    width: 80%;
    box-shadow: 0 0 30px 15px lightgrey;
    padding: 15px;
    margin: 2%;
    display: flex;
    flex-direction: row;
}
h4 {
    margin: 0;
}
.products-detail {
    margin: 10px 20px;
}
.quantity {
    height: 25px;
    margin-bottom: 10px;
}
.shipping {
    color: green;
    font-weight: bold;
}
