
html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
main {
    margin: 2% 5% 2% 5%;
}
i.fa-search {
    font-size: 20px;
}
.search-bar {
    position: relative;
    box-shadow: 0 0 70px 50px lightgrey;
    padding: 20px 10px 20px 10px;
}
input.search {
    height: 30px;
    width: 500px;
}