html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
main {
    margin: 5% 25% 5% 25%;
}
.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*---------------------------------------------------------------------------------*/
/*style for billing address and payment*/
.payment-and-bill {
    margin-right: 10%;
    width: 66.6666666667%;
}
input[type="text"], select {
    background-color: #d3d3d3;
    display: block;
    /*width: 50%;*/
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
#checkout {
    display: flex;
    flex-direction: row-reverse;
}
/*---------------------------------------------------------------------------------*/
.first-block, .fourth-block {
    display: flex;
    flex-direction: row;
}
.first-div-element, .second-div-element, .third-div-element, .fourth-div-element {
    margin-bottom: 10px;
}
.first-div-element:first-child, .select-element {
    margin-right: 20px;
}

/*---------------------------------------------------------------------------------*/
/*first and last name (first-div-element)*/
.first-div-element, .fields{
    width: 100%;
}
/*---------------------------------------------------------------------------------*/
/*username and email (second-div-element)*/
/*---------------------------------------------------------------------------------*/
/*address and address 2 (third-div-element)*/
/*---------------------------------------------------------------------------------*/

/*country, state and zip (fourth-div-element)*/
select {
    height: 35px;
}
.fourth-div-element {
    width: 33.33333333333333333333%;
}

/*---------------------------------------------------------------------------------*/
/*style for checkboxes*/
.checkboxes {
    margin: 20px 0 20px 0;
}
input[type="text"]:focus {
    box-shadow: 0 0 5px 1px #D3D3D3;
}
input#checkbox-1 {
    margin-bottom: 6px;
}
/*---------------------------------------------------------------------------------*/
/*checkout button*/
/*---------------------------------------------------------------------------------*/
/*payment*/
.radiobuttons {
    margin-bottom: 6px;
}
.card {
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
}
.first-column {
    margin-right: 10px;
}
input#cvv, input#expiration {
    width: 80%;
}
